@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  color: black;
}
.title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
